<mat-toolbar color="primary">
  <mat-toolbar-row>
    <b [routerLink]="['']">MisCines</b>
    &nbsp;&nbsp;&nbsp;
    <!-- Este div se imprimirá si estamos loggeados -->
    <div *ngIf="auth.user">
      <!-- Este if se imprimirá si el usuario es Admin -->
      <div *ngIf="role == 'Admin'" >
        <a mat-button [matMenuTriggerFor]="entidades"> <h3>Mantenimiento</h3> </a>
        &nbsp;&nbsp;&nbsp;
        <a class="admin" >{{auth.user.displayName}}  <fa-icon *ngIf="role == 'Admin' " [icon]="verified" class="admin"></fa-icon></a>
        &nbsp;&nbsp;&nbsp;
        <!-- Si el usuario es admin se imprimirá este icono -->
        <fa-icon mat-button (click)="logout()" [icon]="exit"></fa-icon>
      </div>
    </div>
    <span class="example-spacer"></span>
    &nbsp;&nbsp;&nbsp;
    <b mat-button [routerLink]="['register']"> <h3>Register</h3></b>
    &nbsp;&nbsp;&nbsp;
    <b mat-button [routerLink]="['login']"> <h3>Login</h3> </b>
  </mat-toolbar-row>


  <mat-menu #entidades="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="peliculas" >Peliculas</button>
    <button mat-menu-item [matMenuTriggerFor]="cines" >Cines</button>
    <button mat-menu-item [matMenuTriggerFor]="idiomas" >Idiomas</button>
    <button mat-menu-item [matMenuTriggerFor]="generos" >Géneros</button>
    <button mat-menu-item [matMenuTriggerFor]="sesiones" >Sesion</button>
    <button mat-menu-item [matMenuTriggerFor]="salas" >Salas</button>
  </mat-menu>

  <mat-menu #idiomas="matMenu">
    <button mat-menu-item [routerLink]="['idioma']">Listado</button>
    <button mat-menu-item [routerLink]="['new-idioma']">Nuevo</button>
  </mat-menu>

  <mat-menu #salas="matMenu">
    <button mat-menu-item [routerLink]="['salas']">Listado</button>
    <button mat-menu-item [routerLink]="['new-sala']">Nuevo</button>
  </mat-menu>

  <mat-menu #generos="matMenu">
    <button mat-menu-item [routerLink]="['genero']">Listado</button>
    <button mat-menu-item [routerLink]="['new-genero']">Nuevo</button>
  </mat-menu>

  <mat-menu #peliculas="matMenu">
    <button mat-menu-item [routerLink]="['pelicula']">Listado</button>
    <button mat-menu-item [routerLink]="['new-pelicula']">Nuevo</button>
  </mat-menu>

  <mat-menu #cines="matMenu">
    <button mat-menu-item [routerLink]="['cine']">Listado</button>
    <button mat-menu-item [routerLink]="['new-cine']">Nuevo</button>
  </mat-menu>

  <mat-menu #sesiones="matMenu">
    <button mat-menu-item [routerLink]="['sesion']">Listado</button>
    <button mat-menu-item [routerLink]="['new-sesion']">Nuevo</button>
  </mat-menu>


</mat-toolbar>
