<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>MisCines</h1>
    &nbsp;&nbsp;&nbsp;
    <a mat-button [matMenuTriggerFor]="entidades"> <h3>Mantenimiento</h3> </a>
  </mat-toolbar-row>


  <mat-menu #entidades="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="peliculas" >Peliculas</button>
    <button mat-menu-item [matMenuTriggerFor]="cines" >Cines</button>
    <button mat-menu-item [matMenuTriggerFor]="idiomas" >Idiomas</button>
    <button mat-menu-item [matMenuTriggerFor]="generos" >Géneros</button>
    <button mat-menu-item [matMenuTriggerFor]="sesiones" >Sesion</button>
    <button mat-menu-item [matMenuTriggerFor]="salas" >Salas</button>
  </mat-menu>

  <mat-menu #idiomas="matMenu">
    <button mat-menu-item [routerLink]="['idioma']">Listado</button>
    <button mat-menu-item [routerLink]="['new-idioma']">Nuevo</button>
  </mat-menu>

  <mat-menu #salas="matMenu">
    <button mat-menu-item [routerLink]="['salas']">Listado</button>
    <button mat-menu-item [routerLink]="['new-sala']">Nuevo</button>
  </mat-menu>

  <mat-menu #generos="matMenu">
    <button mat-menu-item [routerLink]="['genero']">Listado</button>
    <button mat-menu-item [routerLink]="['new-genero']">Nuevo</button>
  </mat-menu>

  <mat-menu #peliculas="matMenu">
    <button mat-menu-item [routerLink]="['pelicula']">Listado</button>
    <button mat-menu-item [routerLink]="['new-pelicula']">Nuevo</button>
  </mat-menu>

  <mat-menu #cines="matMenu">
    <button mat-menu-item [routerLink]="['cine']">Listado</button>
    <button mat-menu-item [routerLink]="['new-cine']">Nuevo</button>
  </mat-menu>

  <mat-menu #sesiones="matMenu">
    <button mat-menu-item [routerLink]="['sesion']">Listado</button>
    <button mat-menu-item [routerLink]="['new-sesion']">Nuevo</button>
  </mat-menu>
</mat-toolbar>
