<div id="container">
  <h1 style="text-align: center;">Mantenimiento de Cines</h1>
  <table mat-table [dataSource]="datos" class="mat-elevation-z8">

    <!-- Symbol Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="Hora Inicio">
      <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.hora_inicio}} </td>
      <!-- <td mat-cell *matCellDef="let element"> {{element.hora_inicio.toDate() | date: 'mediumTime'}} </td> -->
    </ng-container>

    <ng-container matColumnDef="Hora Fin">
      <th mat-header-cell *matHeaderCellDef> Hora Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.hora_fin}} </td>
      <!-- <td mat-cell *matCellDef="let element"> {{element.hora_fin.toDate() | date: 'mediumTime'}} </td> -->
    </ng-container>

    <ng-container matColumnDef="Num Salas">
      <th mat-header-cell *matHeaderCellDef> Num Salas </th>
      <td mat-cell *matCellDef="let element"> {{element.num_sala}} </td>
    </ng-container>

    <ng-container matColumnDef="Precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} € </td>
    </ng-container>

    <ng-container matColumnDef="Accion">
      <th mat-header-cell *matHeaderCellDef> Accion </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="['/cine/',element.id]">
          <fa-icon [icon]="editar"></fa-icon>
        </button>&nbsp;
        <button mat-raised-button color="warn" (click)="eliminar(element)">
          <fa-icon [icon]="borrar"></fa-icon>
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
</div>
