.info{
  background-color: gray;
}

mat-grid-list {
  width: 80%;
  height: 80%;
}

.cajaInfoSesion{
  width: max-content;
}

.cajaInfoSesion .infoSesion {
  border-width: 3px;
  border-color: red;
  border-radius: 20px;
  border-style: solid;
  background: rgb(195, 179, 179);
  padding: 1em;
}

.cajaInfoSubtotal {
  width: max-content;
}

.cajaInfoSesion .infoSesion a {
  text-align: left;
  margin: 0.5em;
  font-size: x-large;
}

.cajaInfoSubtotal .infoSubtotal {
  width: max-content;
  border-width: 3px;
  border-color: red;
  border-radius: 20px;
  border-style: solid;
  background:rgb(195, 179, 179) ;
  padding: 4em;
}
.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

::ng-deep .botonNEntrada{
  height:40px !important;
  width:40px !important;
  font-size:20px !important;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

#pantalla {
  width: 100%;
}

#butaca{
  width: 50%;
  height: 50%;
}

.butacaVerde{
  content:url('./../../assets/butacaverde.jpg');
}

.butacaAmarilla{
  content:url('./../../assets/butacaamarilla.jpg');
}

.butacaRoja{
  content:url('./../../assets/butacaroja.jpg');
}
