<div id="container">
  <mat-grid-list cols="3"  [gutterSize]="'100px'">
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="cajaInfoSesion" >
      <div class="infoSesion">
        <a>Película: {{nombrePelicula}}</a><br>
        <a>Hora Inicio: {{horaInicio}}</a><br>
        <a>Hora Fin: {{horaFin}}</a><br>
        <a>Cine: {{nombreCine}}</a><br>
        <a>Sala Nº: {{numSala}}</a><br>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="cajaInfoSubtotal">
      <div class="infoSubtotal">
        <div class="titulo">
          Subtotal
        </div>
        <div class="subtotal">
          {{subtotal}} €
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <br><br>
  <mat-horizontal-stepper linear>
    <mat-step>
      <ng-template matStepLabel>Seleccione sus entradas</ng-template>
      <div>
        <div class="mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell"> </div>
            <div class="mat-header-cell">Cantidad</div>
            <div class="mat-header-cell">Precio</div>
            <div class="mat-header-cell">Subtotal</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" >Adulto</div>
            <div class="mat-cell">
              <button class="botonNEntrada" mat-mini-fab color="primary" (click)="masEntradasAdulto()" [disabled]="nEntradasAdulto + nEntradasJoven === 10">+</button>
                {{nEntradasAdulto}}
              <button class="botonNEntrada" mat-mini-fab color="accent" (click)="menosEntradasAdulto()" [disabled]="nEntradasAdulto === 0">-</button></div>
            <div class="mat-cell">{{precioEntradasAdulto}}</div>
            <div class="mat-cell">{{subtotalAdulto}}</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell">Joven</div>
            <div class="mat-cell">
              <button class="botonNEntrada" mat-mini-fab color="primary" (click)="masEntradasJoven()" [disabled]="nEntradasAdulto + nEntradasJoven === 10">+</button>
                {{nEntradasJoven}}
              <button class="botonNEntrada" mat-mini-fab color="accent" (click)="menosEntradasJoven()" [disabled]="nEntradasJoven === 0">-</button></div>
            <div class="mat-cell">{{precioEntradasJoven}}</div>
            <div class="mat-cell">{{subtotalJoven}}</div>
          </div>
        </div>
        <button mat-button matStepperNext [disabled]="nEntradasAdulto === 0" (click)="setNAsientos()">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Seleccione sus asientos</ng-template>
        <p>Has seleccionado {{selectNAsientos}} asientos</p>
        <div class="mat-table">
          <div class="mat-header-row">
            <img src="./../../assets/Pantalla.png" id="pantalla">
          </div>
          <div class="mat-row" *ngFor="let fila of [].constructor(numFilas); let i = index">
            <div class="mat-cell">{{i}}</div>
            <div class="mat-cell" *ngFor="let asiento of [].constructor(asientosXFila); let j = index">
              <ng-template *ngIf="estaOcupado(i,j); then siEstaOcupado else noEstaOcupado" >
              </ng-template>
              <ng-template #siEstaOcupado>
                <button mat-button disabled>
                  <img class="butacaRoja" id="butaca">
                </button>
              </ng-template>
              <ng-template #noEstaOcupado>
                <button mat-button [disabled]="selectNAsientos == 0">
                  <img class="butacaVerde" id="butaca" (click)="asientoSeleccionado(i,j,$event)">
                </button>
              </ng-template>
            </div>
            <div class="mat-cell">{{i}}</div>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="selectNAsientos !== 0">Next</button>
        </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Datos de Pago</ng-template>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Número de la Tarjeta</mat-label>
          <input matInput #numTarjeta type="text" pattern="\d*" maxlength="16" [(ngModel)]="nTarjeta">
          <mat-hint align="end">{{numTarjeta.value.length}}/16</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Caducidad</mat-label>
          <input matInput #fechaCaducidad [matDatepicker]="dp" [formControl]="date" >
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="tarjetaValida(numTarjeta.value)" (click)="getDatosPago(fechaCaducidad.value)">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Resumen</ng-template>
      <p>Gracias por su compra</p>
      <button mat-raised-button color="warn" (click)="crearPDFEntrada()"  [routerLink]="['']">
        <fa-icon [icon]="iconoFactura"></fa-icon>
      </button>
      <div>
        <button mat-button matStepperPrevious >Volver al Inicio</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

