/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#main{
  min-height: 35em;
}

mat-form-field {
  width: 100%;
}

mat-label {
  text-align: center;
}

#container{
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

#containter > h1{
  text-align: center;
}

table {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.admin {
  color: rgb(240, 165, 15)
}
