<div id="main">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
    <div fxLayout="column" id="filtros">
      <div fxLayout="column" class="filtro">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Busca por Cine</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>
            <mat-select [(ngModel)]="refCine" matTooltip='Filtra por cine'>
              <mat-option [value]="">None</mat-option>
              <mat-option *ngFor="let cine of cineApp" [value]="cine.id">
                {{cine.nombre}}
              </mat-option>
            </mat-select>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxLayout="column" class="filtro">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Busca por Género</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>
            <mat-select [(ngModel)]="refGenero" matTooltip='Filtra por género'>
              <mat-option [value]="">None</mat-option>
              <mat-option *ngFor="let genero of generoApp" [value]="genero.id">
                {{genero.nombre}}
              </mat-option>
            </mat-select>
            <br>
            Current: {{refGenero}}
          </mat-card-content>
        </mat-card>
      </div>

      <div fxLayout="column" class="filtro">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Busca por fecha</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <!-- readonly para que no se pueda escribir en el input -->
              <input #startDate matInput readonly [value]="minDate" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateInput)="first($event)" matTooltip='Filtra por fecha'>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
    <div fxLayout="column" id="peliculas">
      <div *ngFor="let cine of cineApp">
        <p class="nombreCine">{{cine.nombre}}</p>
        <div *ngFor="let peliculaSesiones of sesionesPorCine(cine.id,sesionApp,peliculasApp) | keyvalue">
            <mat-card class="cartaSesion">
              <mat-card-header>
                <div fxLayout="row">
                  <img mat-card-image src="{{peliculaSesiones.key.imagen}}" class="imagenSesion">
                  <mat-card-title class="nombreSesion" [routerLink]="['/sinopsis/', peliculaSesiones.key.id]"> {{peliculaSesiones.key.nombre}} </mat-card-title>
                </div>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div fxLayout="row">
                  <div *ngFor="let sesion of peliculaSesiones.value">
                    <p [routerLink]="['/compra/', sesion.id]">
                      <button mat-raised-button color="primary" class="horaSesion" >
                      {{sesion.hora_inicio}}
                      </button>
                    </p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
