#filtros {
  width: 30%;
  height: 100%;
  background: red;
}

#peliculas{
  width: 70%;
  height: 100%;
  background: green;
}

.filtro {
  width: 80%;
  background: red;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.filtro mat-card-content {
  min-height: 5em;
}

/* El valor seleccionado de los filtros se verá más grande (gracias stackoverflow) */
::ng-deep .mat-select-value {
  font-size: larger;
}

.cartaSesion{
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}


.cartaSesion mat-card-header mat-card-title {
  font-size: 50px;
  margin-top: 0.5em;
  margin-left: 3em;
}

.cartaSesion mat-card-header .imagenSesion {
  margin-top: 1em;
  max-height: 250px;
  max-width: 125px;
}
