#filtros {
  width: 30%;
  height: 100%;
  background: rgb(128, 123, 123);
}

#peliculas{
  width: 70%;
  height: 100%;
  /* background: rgba(158, 223, 120, 0.897); */
  background: rgb(44, 165, 64);
}

.filtro {
  width: 80%;
  background: red;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.filtro mat-card-content {
  min-height: 5em;
}

/* El valor seleccionado de los filtros se verá más grande (gracias stackoverflow) */
::ng-deep .mat-select-value {
  font-size: larger;
}

.cartaSesion{
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}


.cartaSesion mat-card-header mat-card-title {
  font-size: x-large;
  margin-top: 0.5em;
  margin-left: 3em;
  text-align: center;
}

.cartaSesion mat-card-header .imagenSesion {
  margin-top: 1em;
  max-height: 250px;
  max-width: 125px;
}

.nombreCine {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
  text-align: center;
}

div > .nombreCine {
  background: yellow;
}


.horaSesion{
  margin: 1em;
}
